extends layout

block content
  .jumbotron
    h2 Weather report
    h3 Welcome to the weather report page!

  div.container
    .alert.alert-danger
      p #[strong Error!] Invalid cities provided: [#{data.errors}]
    table.table.table-striped
      thead
        tr
          th City
          th Location
          th Weather
          th Temperature
          th Humidity
      tbody
        each report in data.reports
          tr
            td= report.city
            td= report.location
            td= report.weather
            td= report.temperature
            td= report.humidity

div.footer